version: "3.7"

services:
    app:
        deploy:
            resources:
                limits:
                    memory: 500M
        build:
            context: .
            dockerfile: Dockerfile
        restart: unless-stopped
        tty: true
        environment:
            SERVICE_NAME: backend
            SERVICE_TAGS: backend
        working_dir: /var/www/
        volumes:
            - ./:/var/www
            - ./public:/var/www/html
        depends_on:
            - db
        ports:
            - "80:80"
            - "443:443"
        networks:
            - laravel
    frontend:
        deploy:
            resources:
                limits:
                    memory: 500M
        build:
            context: ./frontend
            dockerfile: Dockerfile
        container_name: frontend
        restart: unless-stopped
        volumes:
            - ./frontend/:/app
        ports:
            - 3000:3000
        command: "npm run serve -- --port 3000"
        networks:
            - laravel
    adminer:
        image: adminer
        restart: always
        ports:
            - 8080:8080
        networks:
            - laravel
    db:
        image: mysql:5.7.22
        restart: always
        tty: true
        deploy:
            resources:
                limits:
                    memory: 350M
        environment:
            MYSQL_DATABASE: ${DB_DATABASE}
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
            MYSQL_PASSWORD: ${DB_PASSWORD}
            MYSQL_USER: ${DB_USERNAME}
        volumes:
            - ./.docker/mysql/dbdata:/var/lib/mysql
        ports:
            - "3388:3306"
        networks:
            - laravel
networks:
    laravel:
        driver: bridge
